*{
  box-sizing: border-box;
}
[class*="col-"]{
  float: left;
  padding: 20px;
}

body{
  background-color: rgba(238, 255, 0, 0.486);
}
li#c1{
  background-color: rgb(0, 156, 228);
}
table{
  font-family: "serif";
  font-size: 1.5em;
}
.odd{
  background-color: rgb(131, 138, 141);
}
th#a1{
  color: white;
}
ol#a {
  list-style-type: upper-roman;
  margin-top: 40px;
}

.row::after{
  content:"";
  clear: both;
  display: table;
  
}
.header{
  background-color: yellow;
  color: black;
  padding: 15px;
}
.footer {
  background-color: yellow;
  color: black;
  padding: 15px;
}

[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
.col-1 {width: 33.33%;}
.col-2 {width: 33.33%;}
.col-3 {width: 33.33%;}

}

